<nav class="navbar navbar-custom navbar-fixed-top navbar-transparent head"  role="navigation">

    <div class="container">
{#        <div class="navbar-header">#}
{#            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('img/logo-2.png') }}"#}
{#                                                                       style=" max-width:115%;max-height:170%;"#}
{#                                                                       class="navbar-logo"></a>#}
{#            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span#}
{#                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span#}
{#                        class="icon-bar"></span><span class="icon-bar"></span></button>#}
{#        </div>#}

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{{ path('homepage') }}">MI HOGAR</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="{{ path('homepage') }}">Inicio</a>

                </li>
                <li class="dropdown"><a  href="{{ path('categoria') }}">Categoría</a>
                </li>
                <li class="dropdown"><a href="{{ path('servicio') }}">Servicio</a>
                </li>
{#                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Portfolio</a></li>#}
                <li class="dropdown"><a href="{{ path('acerca') }}">Acerca</a>
                </li>
                <li class="dropdown m">
                    <a href="#" data-toggle="dropdown">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle dropbtn"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd"
                                  d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                        </svg>
                    </a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="{{ path('login') }}">Iniciar sesión</a></li>
                        <li><a href="{{path('registro') }}">Registrarse</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>