{% extends 'defaults/base.html.twig' %}

{% block title %} Iniciar sesión {% endblock %}

{% block styles %}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
    {#    <link href="{{ asset('css/estilo.css') }}" rel="stylesheet" />#}
    {#            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">#}
{#    {{ parent() }}#}
{% endblock %}

{% block body %}
<section class="glyphicon-home home-full-height" style="background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.7)), url({{ asset('img/4.jpg') }}); background-repeat: inherit">
        <div class="titan-caption" style=" margin: auto;
  max-width: 80%;
  padding: 10px;">
            <a href="{{ path('homepage') }}" >
                <div class="text-center h-25" >
                    <img src="{{ asset('img/logo2.png') }}" class="h-100">
                </div>
            </a>
            <div class="caption-content"style=" margin: auto;
  width: 60%;
  padding: 15%;
 ">


                <form action="{{ path('login-api') }}" method="post" autocomplete="off" id="formularioLogin" >
                    <div >
                            <div style=" margin: auto;">
                                <input type="email" style="width: 100%;" name="email" class="inter" placeholder="Email" aria-describedby="emailHelp">
                            </div>
                        <br>
                            <div  style=" margin: auto;" >
                                <input type="password" style="width: 100%;" name="password" class=" inter" placeholder="Contraseña" id="exampleInputPassword1">
                            </div>


                    <div><br/>
                        <input type="submit" class="section-scroll btn btn-border-w btn-circle" id="login">                    </div>

                    </div>


                </form>
            </div>
        </div>
    </section>





{% endblock %}

{% block javascript %}

{{ parent() }}

<script>
 $(document).ready(function() {



 {#               $('#login').on('click',function(event) {#}
 {#                   event.preventDefault();#}

 {#                $.ajax({#}
 {#                   url: "{{ path('login-api') }}",#}
 {#                   method: 'POST',#}
 {#                   data: $("#formularioLogin").serialize()#}

 {#                }).done(function(result){#}
 {#                       console.log(result);#}
 {#                   toastr.success('ya esta listo su pedido');#}



 {#                }).fail(function(){#}

 {#                   toastr.error('Algo fue mal');#}

 {#                });#}


 {#                });#}

                 });

 {#App.init();#}
                    // stop the form from submitting the normal way and refreshing the page


</script>

{% endblock %}

