{% extends 'defaults/base.html.twig' %}

{% block title %} Iniciar sesión {% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class=" home-section  home-full-height "
         style="background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.7)), url({{ asset('img/4.jpg') }});
                 background-size: 100% 100%;">
        <div class="titan-caption" style=" margin: auto;
  max-width: 75%;
  padding: 10px;">
            <a href="{{ path('homepage') }}">
                <div class="text-center h-25">
                    <img src="{{ asset('img/logo2.png') }}" class="h-100">
                </div>
            </a>
            <div class="caption-content" style=" margin: auto;
  width: 80%;
  padding: 15%;
  color: red;
 ">


                <form autocomplete="off" id="formularioLogin">
                    <div>
                        <div style=" margin: auto; ">
                            <input type="email" style="width: 100%; color: white" name="email" class="inter" placeholder="Email">
                        </div>
                        <br>
                        <div style=" margin: auto;">
                            <input type="password" style="width: 100%; color: white" name="password" class="inter"
                                   placeholder="Contraseña">
                        </div>


                        <div><br/>
                            <input type="submit" value="Enviar" class="section-scroll btn btn-border-w btn-circle"
                                   id="login"></div>

                    </div>


                </form>
            </div>
        </div>
    </div>





{% endblock %}

{% block javascript %}

{{ parent() }}

<script>

    console.log('epe')
  })
</script>

    {% endblock %}

