{% extends 'defaults/base.html.twig' %}

{% block title %} Iniciar sesión {% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class=" home-section  home-full-height "
         style="background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.7)), url({{ asset('img/4.jpg') }});
                 background-size: 100% 100%;">
        <div class="titan-caption" style=" margin: auto;
  max-width: 75%;
  padding: 10px;">
            <a href="{{ path('homepage') }}">
                <div class="text-center h-25">
                    <img src="{{ asset('img/logo2.png') }}" class="h-100">
                </div>
            </a>
            <div class="caption-content" style=" margin: auto;
  width: 80%;
  padding: 15%;
  color: red;
   text-align: left;
 ">


                <form action="{{ path('app_login') }}" method="post" autocomplete="off" id="formularioLogin">
                    <div>
                        <div style=" margin: auto; ">
                            <input type="email" style="width: 100%; color: white" name="_email" class="inter" placeholder="Email">
                        </div>
                        <br>
                        <div style=" margin: auto;">
                            <input type="password" style="width: 100%; color: white" name="_password" class="inter"
                                   placeholder="Contraseña">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >


                        <div><br/>
                            <input type="submit" value="Iniciar" class="section-scroll btn btn-border-w btn-circle"
                                   id="login"></div>

                    </div>


                    <div class="mt-20" style="color: white">
                        Olvidaste tu contraseña? <a href="#" style="color: #cf6e0e">haz click aquí!</a>
                    </div>

                    <div class="mt-20" style="color: white">
                         <a href="{{ path('registro') }}" style="color: whitesmoke">¿crea una cuenta?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>





{% endblock %}

{% block javascript %}

{{ parent() }}

    {% endblock %}

