{% extends 'defaults/base.html.twig' %}

{% block title %} Registrarse {% endblock %}

{% block styles %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class=" home-section  home-full-height "
         style="background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.7)), url({{ asset('img/4.jpg') }});
                 background-size: 100% 100%;">
        <div class="titan-caption" style=" margin: auto;
  max-width: 75%;
  padding: 10px;">
            <a href="{{ path('homepage') }}">
                <div class="text-center h-25">
                    <img src="{{ asset('img/logo2.png') }}" class="h-100">
                </div>
            </a>
            <div class="caption-content" style=" margin: auto;
  width: 80%;
  padding: 15%;
  color: red;
  text-align: left;
 ">

                <form autocomplete="off" id="formularioRegister">
                    <div>
                        <div style=" margin: auto; ">
                            <input type="text" style="width: 100%; color: white" name="nombre" class="inter" placeholder="Nombre">
                        </div>
                        <br>
                        <div style=" margin: auto; ">
                            <input type="text" style="width: 100%; color: white" name="apellido" class="inter" placeholder="Apellido">
                        </div>
                        <br>
                        <div style=" margin: auto; ">
                            <input type="email" style="width: 100%; color: white" name="email" class="inter" placeholder="Email">
                        </div>
                        <br>
                        <div style=" margin: auto; ">
                            <input type="number" style="width: 100%; color: white" name="telefono" min="0" class="inter" placeholder="Teléfono">
                        </div>
                        <br>
                        <div style=" margin: auto;">
                            <input type="password" style="width: 100%; color: white" name="password" class="inter"
                                   placeholder="Contraseña">
                        </div>


                        <div><br/>
                            <input type="submit" value="Registrate" class="section-scroll btn btn-border-w btn-circle"
                                   id="login"></div>

                    </div>

                    <div class="mt-20" style="color: white">
                        Ya tiene una cuenta? <a href="{{ path('login') }}" style="color: #cf6e0e">Ingrese aquí!</a>
                    </div>


                </form>
            </div>
        </div>
    </div>





{% endblock %}

{% block javascript %}

{{ parent() }}

    {% endblock %}

